@model OneSystemManagement.Areas.SystemAdmin.Models.ChangePasswordViewModel
@{
    ViewData["Title"] = "Thay đổi mật khẩu";
}


@section PageTitle
    {
    <!-- Title -->
    <div class="row heading-bg">
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
            <h5 class="txt-dark">@ViewData["Title"]</h5>
        </div>
        <!-- Breadcrumb -->
        <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
            <ol class="breadcrumb">
                <li><a asp-area="admin" asp-controller="Index" asp-action="Index">Trang chủ</a></li>
                <li><a href="#"><span>Sản phẩm</span></a></li>
                <li class="active"><span>@ViewData["Title"]</span></li>
            </ol>
        </div>
        <!-- /Breadcrumb -->
    </div>
    <!-- /Title -->

}
<!-- Row -->
<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default card-view">
            <div class="panel-heading">
                <div class="pull-left">
                    <h6 class="panel-title txt-dark">Thông tin mật khẩu</h6>
                    <hr/>
                </div>
              
                <div class="clearfix"></div>

            </div>
            <div class="panel-wrapper collapse in">
                <div class="panel-body">
                    <form asp-action="ChangePassword" asp-controller="Account" asp-area="admin">
                        @Html.AntiForgeryToken()
                        @if (!string.IsNullOrEmpty(ViewBag.Error))
                        {
                            <p class="alert alert-danger">@ViewBag.Error</p>
                        }
                       
                        <div class="form-group">
                            <label asp-for="OldPassword" class="control-label mb-10"></label>
                            <input asp-for="OldPassword" type="password" class="form-control">
                            <span asp-validation-for="OldPassword" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="NewPassword" class="control-label mb-10"></label>
                            <input asp-for="NewPassword" type="password" class="form-control">
                            <span asp-validation-for="NewPassword" class="text-danger"></span>
                        </div>
                        <button type="submit" class="btn btn-primary">Lưu thay đổi</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Row -->

@section scripts
    {
    <script src="~/js/controllers/product.js"></script>
}


