
@{
    ViewData["Title"] = "OneSystem Admin";
}

@section PageTitle
{
    <!-- Title -->
    <div class="row heading-bg">
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
            <h5 class="txt-dark">@ViewData["Title"]</h5>
        </div>
        <!-- Breadcrumb -->
        <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
            <ol class="breadcrumb">
                <li><a asp-area="admin" asp-controller="Dashboard" asp-action="Index">Trang chủ</a></li>
                @*<li><a href="#"><span>Home</span></a></li>*@
                <li class="active"><span>Welcome Home</span></li>
            </ol>
        </div>
        <!-- /Breadcrumb -->
    </div>
    <!-- /Title -->    
}

