@model IList<OneSystemManagement.Areas.SystemAdmin.Models.MyArea>
@{
    Layout = null;
}
@foreach (var area in Model)
{
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 w3-animate-bottom">
        <div class="panel panel-primary card-view panel-refresh">
            <div class="refresh-container">
                <div class="la-anim-1"></div>
            </div>
            <div class="panel-heading">
                <div class="pull-left">
                    <h6 class="panel-title txt-light">@area.Name</h6>
                </div>
                <div class="pull-right">
                    <a class="pull-left inline-block mr-15" data-toggle="collapse" href="#collapse_@area.Id" aria-expanded="true">
                        <i class="zmdi zmdi-chevron-down txt-light"></i>
                        <i class="zmdi zmdi-chevron-up txt-light"></i>
                    </a>
                </div>
                <div class="clearfix"></div>
            </div>
            <div id="collapse_@area.Id" class="panel-wrapper collapse ">
                <div class="panel-body">
                    @foreach (var f in area.MyFunctions)
                    {
                        <div class="mb-10">
                            <span class="inline-block txt-dark">@f.Name <label class="label @(f.IsRead ? "label-success" : "label-danger")">Đọc</label> <label class="label @(f.IsWrite ? "label-success" : "label-danger")">Ghi</label> </span>
                        </div>
                    }
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
}

